.contenedorLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  width: 20%;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 2ms ease-in-out;
  filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.menuDesplegable {
  display: flex;
  position: relative;
  align-items: start;
  background: none;
  border: none;
  width: 10%;
}
.menuDesplegable img {
  width: 100%;
}

.menuDesplegable img:hover {
  transform: scale(1.1);
  transition: all 2ms ease-in-out;
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

.menuDesplegable2 {
  display: flex;
  position: relative;
  align-items: start;
  flex-direction: row-reverse;
  background: none;
  border: none;
  width: 10%;
}
.menuDesplegable2 img {
  width: 100%;
}

.menuDesplegable2 img:hover {
  transform: scale(1.1);
  transition: all 2ms ease-in-out;
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

.menuDesplegable3 {
  display: flex;
  position: relative;
  align-items: start;
  background: none;
  border: none;
  width: 15%;
}
.menuDesplegable3 img {
  width: 100%;
}

.menuDesplegable3 img:hover {
  transform: scale(1.1);
  transition: all 2ms ease-in-out;
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

.menuDesplegable4 {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 15%;
}
.menuDesplegable4 img {
  width: 100%;
}

.menuDesplegable4 img:hover {
  transform: scale(1.1);
  transition: all 2ms ease-in-out;
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

.contenedorGrid {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.header {
  display: flex;
  grid-area: header;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descripcionContacto {
  display: block;
  position: sticky;
}
.descripcionContacto .textoContacto {
  color: aliceblue;
  display: block;
  position: fixed;
  text-align: center;
  width: 150px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

.descripcionShow {
  display: block;
  position: sticky;
}
.descripcionShow .textoShow {
  transform: translateX(-100%);
  color: aliceblue;
  display: block;
  position: fixed;
  text-align: center;
  width: 150px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

.descripcionBanda {
  display: block;
  position: sticky;
}
.descripcionBanda .textoLogo {
  transform: translateX(-50%);
  color: aliceblue;
  display: block;
  position: fixed;
  text-align: center;
  width: 250px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

.descripcionIntegrantes {
  display: block;
  position: sticky;
}
.descripcionIntegrantes .textoIntegrantes {
  color: aliceblue;
  display: block;
  position: fixed;
  text-align: center;
  width: 150px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

.descripcionTemas {
  display: block;
  position: sticky;
}
.descripcionTemas .textoTemas {
  transform: translateX(-100%);
  color: aliceblue;
  display: block;
  position: fixed;
  text-align: center;
  width: 150px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 60%;
}

.contenedorShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.contenedorShow img {
  aspect-ratio: 16/9;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.contenedorEventos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  height: auto;
  width: 90%;
}
.contenedorEventos .cardShow {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: bisque;
  border-radius: 5%;
  object-fit: contain;
  text-align: center;
  column-count: 1;
  font-family: "Courier New", Courier, monospace;
}
.contenedorEventos .cardShow iframe {
  align-self: center;
  width: 90%;
  transform: translateY(10%);
}
.contenedorEventos .proximoShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 100%;
  border-radius: 5%;
  object-fit: contain;
}
.contenedorEventos .proximoShow h3 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 100%;
}
.contenedorEventos .proximoShow img {
  width: 50%;
  border-radius: 5%;
  transform: translateY(1%);
}

/*# sourceMappingURL=style.css.map */
